**/.git
**/.gitignore
**/.dockerignore
**/.VS
**/.vscode
**/bin
**/obj
**/dist
**/.vs
**/node_modules
**/.env
**/.env.local
**/Thumbs.db
**/.DS_Store
**/*.log
**/*.trx
**/.sonarqube
**/coverage
**/.nyc_output
**/test-results
**/npm-debug.log
**/yarn-error.log
**/dist
**/build
**/.gradle
**/*.jar
**/*.war
**/out
**/.classpath
**/.settings
**/.loadpath
**/*.user
**/*.userprefs
**/*.iml
**/*.ipr
**/*.iws
**/*.idea
**/.idea
**/.project
**/.pydevproject
**/.ropeproject
**/__pycache__
**/*.py[cod]
**/venv/
**/.venv
**/*.egg-info
**/.coverage
**/htmlcov
**/.tox
**/.hypothesis
**/instance
**/.pytest_cache
**/.mypy_cache
**/node_modules
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.nuget
**/NuGetFallbackFolder
**/.bowerrc
**/bower_components
**/.NETCore.gitignore
**/riderModule.xml
**/.idea_modules
